In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("pyspark_ejercicio").getOrCreate()
spark

In [2]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

### Ejercicio 01:
- Leer el csv: `pga_tour_historical.csv`.

In [ ]:
fifa = spark.read.csv("Data/pga_tour_historical.csv", header=True, inferSchema=True)

### Ejercicio 02:
- Imprimir Schema.

In [10]:
fifa.printSchema()

root
 |-- Player Name: string (nullable = true)
 |-- Season: integer (nullable = true)
 |-- Statistic: string (nullable = true)
 |-- Variable: string (nullable = true)
 |-- Value: integer (nullable = true)

### Ejercicio 03:
- Modificar los dtypes de las columnas.

In [8]:
fifa = fifa.withColumn('Season', col('Season').cast(IntegerType())) \
    .withColumn('Value', col('Value').cast(IntegerType()))

In [9]:
fifa.printSchema()

root
 |-- Player Name: string (nullable = true)
 |-- Season: integer (nullable = true)
 |-- Statistic: string (nullable = true)
 |-- Variable: string (nullable = true)
 |-- Value: integer (nullable = true)

### Ejercicio 04:
- Genera las estadísticas de la columna "Value".

In [15]:
fifa.select('Value').summary().show()

+-------+------------------+
|summary|             Value|
+-------+------------------+
|  count|           2347998|
|   mean| 12249.25599595911|
| stddev|179434.15932161282|
|    min|              -447|
|    25%|                 7|
|    50%|                58|
|    75%|                93|
|    max|           9982040|
+-------+------------------+

### Ejercicio 05:
- Genera las estadisticas de las columnas "Value" y "Season".

In [16]:
fifa.select('Value', 'Season').summary().show()

+-------+------------------+------------------+
|summary|             Value|            Season|
+-------+------------------+------------------+
|  count|           2347998|           2740403|
|   mean| 12249.25599595911| 2013.973479083186|
| stddev|179434.15932161282|2.6070501155146517|
|    min|              -447|              2010|
|    25%|                 7|              2012|
|    50%|                58|              2014|
|    75%|                93|              2016|
|    max|           9982040|              2018|
+-------+------------------+------------------+

### Ejercicio 06:
- Lee el csv de fifa.

In [3]:
fifa = spark.read.csv("Data/fifa19.csv", header=True, inferSchema=True)

### Ejercicio 07:
- Imprime el Schema de fifa.

In [4]:
fifa.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Photo: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Flag: string (nullable = true)
 |-- Overall: integer (nullable = true)
 |-- Potential: integer (nullable = true)
 |-- Club: string (nullable = true)
 |-- Club Logo: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- Wage: string (nullable = true)
 |-- Special: integer (nullable = true)
 |-- Preferred Foot: string (nullable = true)
 |-- International Reputation: integer (nullable = true)
 |-- Weak Foot: integer (nullable = true)
 |-- Skill Moves: integer (nullable = true)
 |-- Work Rate: string (nullable = true)
 |-- Body Type: string (nullable = true)
 |-- Real Face: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Jersey Number: integer (nullable = true)
 |-- Joined: string (nullable = true)
 |-- Loaned From: string (nullable = true)
 |-- Contract Valid Until: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- LS: string (nullable = true)
 |-- ST: string (nullable = true)
 |-- RS: string (nullable = true)
 |-- LW: string (nullable = true)
 |-- LF: string (nullable = true)
 |-- CF: string (nullable = true)
 |-- RF: string (nullable = true)
 |-- RW: string (nullable = true)
 |-- LAM: string (nullable = true)
 |-- CAM: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- LM: string (nullable = true)
 |-- LCM: string (nullable = true)
 |-- CM: string (nullable = true)
 |-- RCM: string (nullable = true)
 |-- RM: string (nullable = true)
 |-- LWB: string (nullable = true)
 |-- LDM: string (nullable = true)
 |-- CDM: string (nullable = true)
 |-- RDM: string (nullable = true)
 |-- RWB: string (nullable = true)
 |-- LB: string (nullable = true)
 |-- LCB: string (nullable = true)
 |-- CB: string (nullable = true)
 |-- RCB: string (nullable = true)
 |-- RB: string (nullable = true)
 |-- Crossing: integer (nullable = true)
 |-- Finishing: integer (nullable = true)
 |-- HeadingAccuracy: integer (nullable = true)
 |-- ShortPassing: integer (nullable = true)
 |-- Volleys: integer (nullable = true)
 |-- Dribbling: integer (nullable = true)
 |-- Curve: integer (nullable = true)
 |-- FKAccuracy: integer (nullable = true)
 |-- LongPassing: integer (nullable = true)
 |-- BallControl: integer (nullable = true)
 |-- Acceleration: integer (nullable = true)
 |-- SprintSpeed: integer (nullable = true)
 |-- Agility: integer (nullable = true)
 |-- Reactions: integer (nullable = true)
 |-- Balance: integer (nullable = true)
 |-- ShotPower: integer (nullable = true)
 |-- Jumping: integer (nullable = true)
 |-- Stamina: integer (nullable = true)
 |-- Strength: integer (nullable = true)
 |-- LongShots: integer (nullable = true)
 |-- Aggression: integer (nullable = true)
 |-- Interceptions: integer (nullable = true)
 |-- Positioning: integer (nullable = true)
 |-- Vision: integer (nullable = true)
 |-- Penalties: integer (nullable = true)
 |-- Composure: integer (nullable = true)
 |-- Marking: integer (nullable = true)
 |-- StandingTackle: integer (nullable = true)
 |-- SlidingTackle: integer (nullable = true)
 |-- GKDiving: integer (nullable = true)
 |-- GKHandling: integer (nullable = true)
 |-- GKKicking: integer (nullable = true)
 |-- GKPositioning: integer (nullable = true)
 |-- GKReflexes: integer (nullable = true)
 |-- Release Clause: string (nullable = true)

### Ejercicio 08:
- Selecciona las columnas "Name" y "Position" y ordenalas por "Name".

In [5]:
fifa.select('Name', 'Position').orderBy(fifa['Name']).show(5)

+-------------+--------+
|         Name|Position|
+-------------+--------+
|     A. Abang|      ST|
|A. Abdellaoui|      LB|
| A. Abdennour|      CB|
|      A. Abdi|      CM|
|A. Abdu Jaber|      ST|
+-------------+--------+
only showing top 5 rows

### Ejercicio 09:
- Selecciona a los jugadores cuyo club comience por "FC".

In [33]:
fifa.select('name')\
    .where(fifa.Club.startswith("FC")).show()

+---------------+
|           name|
+---------------+
|       L. Messi|
|      L. Suárez|
| R. Lewandowski|
|  M. ter Stegen|
|Sergio Busquets|
|       M. Neuer|
|   J. Rodríguez|
|       Coutinho|
|     M. Hummels|
|      S. Umtiti|
|     Jordi Alba|
|     I. Rakitić|
|          Piqué|
|      T. Müller|
|         Thiago|
|     J. Kimmich|
|       D. Alaba|
|     Y. Brahimi|
|     J. Boateng|
|       A. Vidal|
+---------------+
only showing top 20 rows

### Ejercicio 10
- Cual es el jugador mas joven y cual es el mas viejo.

In [6]:
fifa.select('Name', 'Age').orderBy(fifa['age'].asc()).show(1)

+---------+---+
|     Name|Age|
+---------+---+
|B. Nygren| 16|
+---------+---+
only showing top 1 row

In [7]:
fifa.select('Name', 'Age').orderBy(fifa['age'].desc()).show(1)

+--------+---+
|    Name|Age|
+--------+---+
|O. Pérez| 45|
+--------+---+
only showing top 1 row

### Ejercicio 11:
- Selecciona a los siguiente jugadores:

 - L. Messi
 - Cristiano Ronaldo

In [15]:
fifa[fifa.Name.isin('L. Messi', 'Cristiano Ronaldo')].show()

+---+------+-----------------+---+--------------------+-----------+--------------------+-------+---------+------------+--------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+
|_c0|    ID|             Name|Age|               Photo|Nationality|                Flag|Overall|Potential|        Club|           Club Logo|  Value| Wage|Special|Preferred Foot|International Reputation|Weak Foot|Skill Moves|     Work Rate| Body Type|Real Face|Position|Jersey Number|      Joined|Loaned From|Contract Valid Until|Height|Weight|  LS|  ST|  RS|  LW|  LF|  CF|  RF|  RW| LAM| CAM| RAM|  LM| LCM|  CM| RCM|  RM| LWB| LDM| CDM| RDM| RWB|  LB| LCB|  CB| RCB|  RB|Crossing|Finishing|HeadingAccuracy|ShortPassing|Volleys|Dribbling|Curve|FKAccuracy|LongPassing|BallControl|Acceleration|SprintSpeed|Agility|Reactions|Balance|ShotPower|Jumping|Stamina|Strength|LongShots|Aggression|Interceptions|Positioning|Vision|Penalties|Composure|Marking|StandingTackle|SlidingTackle|GKDiving|GKHandling|GKKicking|GKPositioning|GKReflexes|Release Clause|
+---+------+-----------------+---+--------------------+-----------+--------------------+-------+---------+------------+--------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+
|  0|158023|         L. Messi| 31|https://cdn.sofif...|  Argentina|https://cdn.sofif...|     94|       94|FC Barcelona|https://cdn.sofif...|€110.5M|€565K|   2202|          Left|                       5|        4|          4|Medium/ Medium|     Messi|      Yes|      RF|           10| Jul 1, 2004|       NULL|                2021|   5'7|159lbs|88+2|88+2|88+2|92+2|93+2|93+2|93+2|92+2|93+2|93+2|93+2|91+2|84+2|84+2|84+2|91+2|64+2|61+2|61+2|61+2|64+2|59+2|47+2|47+2|47+2|59+2|      84|       95|             70|          90|     86|       97|   93|        94|         87|         96|          91|         86|     91|       95|     95|       85|     68|     72|      59|       94|        48|           22|         94|    94|       75|       96|     33|            28|           26|       6|        11|       15|           14|         8|       €226.5M|
|  1| 20801|Cristiano Ronaldo| 33|https://cdn.sofif...|   Portugal|https://cdn.sofif...|     94|       94|    Juventus|https://cdn.sofif...|   €77M|€405K|   2228|         Right|                       5|        4|          5|     High/ Low|C. Ronaldo|      Yes|      ST|            7|Jul 10, 2018|       NULL|                2022|   6'2|183lbs|91+3|91+3|91+3|89+3|90+3|90+3|90+3|89+3|88+3|88+3|88+3|88+3|81+3|81+3|81+3|88+3|65+3|61+3|61+3|61+3|65+3|61+3|53+3|53+3|53+3|61+3|      84|       94|             89|          81|     87|       88|   81|        76|         77|         94|          89|         91|     87|       96|     70|       95|     95|     88|      79|       93|        63|           29|         95|    82|       85|       95|     28|            31|           23|       7|        11|       15|           14|        11|       €127.1M|
+---+------+-----------------+---+--------------------+-----------+--------------------+-------+---------+------------+--------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+

### Ejercicio 12:
- En que moneda le pagan a los jugadores? "Release Clause".

In [21]:
fifa.select(col('Release Clause').substr(1,1).alias('Moneda')).show(1)

+------+
|Moneda|
+------+
|     €|
+------+
only showing top 1 row

### Ejercicio 13:
- Selecciona a los jugadores:
    - mayores de 20 años
    - overall mayor a 40
    - nacionalidad española o inglesa

In [26]:
fifa.select('name', 'age', 'overall', 'nationality')\
    .filter("age > 20 AND overall > 40 AND (nationality = 'Spain' OR nationality = 'England')").show()

+---------------+---+-------+-----------+
|           name|age|overall|nationality|
+---------------+---+-------+-----------+
|         De Gea| 27|     91|      Spain|
|   Sergio Ramos| 32|     91|      Spain|
|    David Silva| 32|     90|      Spain|
|        H. Kane| 24|     89|    England|
|Sergio Busquets| 29|     89|      Spain|
|           Isco| 26|     88|      Spain|
|     Jordi Alba| 29|     87|      Spain|
|          Piqué| 31|     87|      Spain|
|    R. Sterling| 23|     86|    England|
|         Thiago| 27|     86|      Spain|
|    Azpilicueta| 28|     86|      Spain|
|        Iniesta| 34|     86|      Spain|
|  Marco Asensio| 22|     85|      Spain|
|           Saúl| 23|     85|      Spain|
|           Koke| 26|     85|      Spain|
|         Parejo| 29|     85|      Spain|
|    Diego Costa| 29|     85|      Spain|
|        D. Alli| 22|     84|    England|
|       Carvajal| 26|     84|      Spain|
|     Iago Aspas| 30|     84|      Spain|
+---------------+---+-------+-----------+
only showing top 20 rows

### Ejercicio 14:
- Leer el csv: `Rep_vs_Dem_tweets.csv`.

In [29]:
df = spark.read.csv("Data/Rep_vs_Dem_tweets.csv", header=True, inferSchema=True)
df.show(10)

+--------------------+-------------+--------------------+
|               Party|       Handle|               Tweet|
+--------------------+-------------+--------------------+
|            Democrat|RepDarrenSoto|Today, Senate Dem...|
|            Democrat|RepDarrenSoto|RT @WinterHavenSu...|
|            Democrat|RepDarrenSoto|RT @NBCLatino: .@...|
|Congress has allo...|         NULL|                NULL|
|            Democrat|RepDarrenSoto|RT @NALCABPolicy:...|
|            Democrat|RepDarrenSoto|RT @Vegalteno: Hu...|
|            Democrat|RepDarrenSoto|RT @EmgageActionF...|
|            Democrat|RepDarrenSoto|Hurricane Maria l...|
|            Democrat|RepDarrenSoto|RT @Tharryry: I a...|
|            Democrat|RepDarrenSoto|RT @HispanicCaucu...|
+--------------------+-------------+--------------------+
only showing top 10 rows

### Ejercicio 15:
- Cambiar los valores de la columna "Party" que no sean "Republican" o "Democrat" a "Other".

In [41]:
df= df.withColumn('Party', when((df.Party != 'Republican')\
    & (df.Party != 'Democrat'), 'Other').otherwise(df.Party))
df.show(10)

+--------+-------------+--------------------+
|   Party|       Handle|               Tweet|
+--------+-------------+--------------------+
|Democrat|RepDarrenSoto|Today, Senate Dem...|
|Democrat|RepDarrenSoto|RT @WinterHavenSu...|
|Democrat|RepDarrenSoto|RT @NBCLatino: .@...|
|   Other|         NULL|                NULL|
|Democrat|RepDarrenSoto|RT @NALCABPolicy:...|
|Democrat|RepDarrenSoto|RT @Vegalteno: Hu...|
|Democrat|RepDarrenSoto|RT @EmgageActionF...|
|Democrat|RepDarrenSoto|Hurricane Maria l...|
|Democrat|RepDarrenSoto|RT @Tharryry: I a...|
|Democrat|RepDarrenSoto|RT @HispanicCaucu...|
+--------+-------------+--------------------+
only showing top 10 rows

In [42]:
df.groupBy("Party").count().show()

+----------+-----+
|     Party|count|
+----------+-----+
|  Democrat|42068|
|     Other| 6028|
|Republican|44392|
|      NULL|    1|
+----------+-----+

### Ejercicio 16:
- Renombra la columna "Party" a "Dem_Rep".
    - Usa .withColumnRenamed()

In [46]:
df= df.withColumnRenamed('Party', 'Dem_Rep')
df.show(1)

+--------+-------------+--------------------+
| Dem_Rep|       Handle|               Tweet|
+--------+-------------+--------------------+
|Democrat|RepDarrenSoto|Today, Senate Dem...|
+--------+-------------+--------------------+
only showing top 1 row

### Ejercicio 17:
- Concatena la columna "Handle" con "Dem_Rep".

In [48]:
df = df.withColumn("Handle_Dem_Rep", concat_ws("_", df.Handle, df.Dem_Rep))
df.show(1)

+--------+-------------+--------------------+--------------------+
| Dem_Rep|       Handle|               Tweet|      Handle_Dem_Rep|
+--------+-------------+--------------------+--------------------+
|Democrat|RepDarrenSoto|Today, Senate Dem...|RepDarrenSoto_Dem...|
+--------+-------------+--------------------+--------------------+
only showing top 1 row

### Ejercicio 18:
- Cuales tweets tienen la palabra "vote".

In [53]:
vote= df.filter(df.Tweet.contains('vote'))
vote.show()

+--------+-------------+--------------------+--------------------+
| Dem_Rep|       Handle|               Tweet|      Handle_Dem_Rep|
+--------+-------------+--------------------+--------------------+
|Democrat|RepDarrenSoto|Today, Senate Dem...|RepDarrenSoto_Dem...|
|Democrat|RepDarrenSoto|RT @WinterHavenSu...|RepDarrenSoto_Dem...|
|Democrat|RepDarrenSoto|RT @carlosvotero:...|RepDarrenSoto_Dem...|
|Democrat|RepDarrenSoto|RT @GWULULAC: “It...|RepDarrenSoto_Dem...|
|Democrat|RepJackyRosen|I’m deeply disapp...|RepJackyRosen_Dem...|
|Democrat|RepAlLawsonJr|I'm pleased to ge...|RepAlLawsonJr_Dem...|
|Democrat| RepEspaillat|Despite overwhelm...|RepEspaillat_Demo...|
|Democrat|RepBRochester|Today, I voted ag...|RepBRochester_Dem...|
|Democrat|RepBRochester|This week, I join...|RepBRochester_Dem...|
|Democrat|RepBRochester|Last night, I vot...|RepBRochester_Dem...|
|Democrat|  RepBarragan|@2UrbanGirls @jfm...|RepBarragan_Democrat|
|Democrat| RepTomSuozzi|Proud to have vot...|RepTomSuozzi_Demo...|
|Democrat| RepTomSuozzi|Stop the vote! I ...|RepTomSuozzi_Demo...|
|Democrat|  RepRoKhanna|Today, Senate Dem...|RepRoKhanna_Democrat|
|Democrat|  RepRoKhanna|RT @SenMarkey: Th...|RepRoKhanna_Democrat|
|Democrat|  RepRoKhanna|Tomorrow a very i...|RepRoKhanna_Democrat|
|Democrat|  RepRoKhanna|RT @matteroffactt...|RepRoKhanna_Democrat|
|Democrat|  RepRoKhanna|The @FCC took awa...|RepRoKhanna_Democrat|
|Democrat|  RepRoKhanna|Senate Democrats ...|RepRoKhanna_Democrat|
|Democrat|  RepRoKhanna|South Carolina’s ...|RepRoKhanna_Democrat|
+--------+-------------+--------------------+--------------------+
only showing top 20 rows

In [52]:
vote.count()

2062

### Ejercicio 19:
- Cargar el csv: `nyc_air_bnb.csv`.

In [54]:
df = spark.read.csv("Data/nyc_air_bnb.csv", header=True, inferSchema=True)
df.show(5)

+----+--------------------+-------+-----------+-------------------+-------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|  id|                name|host_id|  host_name|neighbourhood_group|neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+----+--------------------+-------+-----------+-------------------+-------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|2539|Clean & quiet apt...|   2787|       John|           Brooklyn|   Kensington|40.64749|-73.97237|   Private room|  149|             1|                9| 2018-10-19|             0.21|                             6|             365|
|2595|Skylit Midtown Ca...|   2845|   Jennifer|          Manhattan|      Midtown|40.75362|-73.98377|Entire home/apt|  225|             1|               45| 2019-05-21|             0.38|                             2|             355|
|3647|THE VILLAGE OF HA...|   4632|  Elisabeth|          Manhattan|       Harlem|40.80902| -73.9419|   Private room|  150|             3|                0|       NULL|             NULL|                             1|             365|
|3831|Cozy Entire Floor...|   4869|LisaRoxanne|           Brooklyn| Clinton Hill|40.68514|-73.95976|Entire home/apt|   89|             1|              270| 2019-07-05|             4.64|                             1|             194|
|5022|Entire Apt: Spaci...|   7192|      Laura|          Manhattan|  East Harlem|40.79851|-73.94399|Entire home/apt|   80|            10|                9| 2018-11-19|             0.10|                             1|               0|
+----+--------------------+-------+-----------+-------------------+-------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
only showing top 5 rows

### Ejercicio 20:
- Imprimir Schema.

In [55]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: string (nullable = true)
 |-- number_of_reviews: string (nullable = true)
 |-- last_review: string (nullable = true)
 |-- reviews_per_month: string (nullable = true)
 |-- calculated_host_listings_count: string (nullable = true)
 |-- availability_365: integer (nullable = true)

### Ejercicio 21:
- Cambiar el formato de las columnas que se asignaron mal.

In [57]:
df = df.withColumn('id', col('id').cast('integer')) \
    .withColumn('latitude', col('latitude').cast('double')) \
    .withColumn('longitude', col('longitude').cast('double')) \
    .withColumn('price', col('price').cast('integer')) \
    .withColumn('minimum_nights', col('minimum_nights').cast('integer')) \
    .withColumn('number_of_reviews', col('number_of_reviews').cast('integer')) \
    .withColumn('reviews_per_month', col('reviews_per_month').cast('double')) \
    .withColumn('calculated_host_listings_count', col('calculated_host_listings_count').cast('integer'))
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- last_review: string (nullable = true)
 |-- reviews_per_month: double (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- availability_365: integer (nullable = true)

### Ejercicio 22:
- Cuantas filas tiene el df?

In [61]:
df.count()

49079

### Ejercicio 23:
- Cuantos reviews hay por host?

In [62]:
df.groupBy('host_id').agg(sum('number_of_reviews').alias('total_reviews')).show()

+-------+-------------+
|host_id|total_reviews|
+-------+-------------+
| 716306|          197|
|1203500|           35|
| 368528|            1|
|1577493|           16|
|1390555|           50|
|1317588|            3|
|2472680|          219|
|2155832|          266|
|2426404|            6|
|2740824|           22|
| 192750|            2|
|2682735|           50|
|4432173|           15|
|5959653|          240|
|4623093|           79|
|6390340|            0|
|4645357|          165|
|8422502|            2|
|9818634|            0|
|4906960|           65|
+-------+-------------+
only showing top 20 rows

### Ejercicio 24:
- Muestra los maximos y minimos de las columnas numericas.

In [69]:
numeric_columns = [field.name for field in df.schema.fields if isinstance(field.dataType, (IntegerType, DoubleType))]

summary= df.select(
    [max(col).alias(f"max_{col}") for col in numeric_columns] + 
    [min(col).alias(f"min_{col}") for col in numeric_columns]
)
summary.show()

+--------+------------+-------------+---------+------------------+---------------------+---------------------+----------------------------------+--------------------+------+------------+-------------+---------+------------------+---------------------+---------------------+----------------------------------+--------------------+
|  max_id|max_latitude|max_longitude|max_price|max_minimum_nights|max_number_of_reviews|max_reviews_per_month|max_calculated_host_listings_count|max_availability_365|min_id|min_latitude|min_longitude|min_price|min_minimum_nights|min_number_of_reviews|min_reviews_per_month|min_calculated_host_listings_count|min_availability_365|
+--------+------------+-------------+---------+------------------+---------------------+---------------------+----------------------------------+--------------------+------+------------+-------------+---------+------------------+---------------------+---------------------+----------------------------------+--------------------+
|36487245|    40.91306|  2.4906403E7|    10000|              1250|                  629|                 58.5|                               365|                 365|  2539|   -74.16254|    -74.24442|      -74|                 0|                    0|                  0.0|                                 0|                   0|
+--------+------------+-------------+---------+------------------+---------------------+---------------------+----------------------------------+--------------------+------+------------+-------------+---------+------------------+---------------------+---------------------+----------------------------------+--------------------+

### Ejercicio 25:
- Cuales hosts tienen el mayor numero de reviews?

In [73]:
df.select('host_id', 'number_of_reviews').orderBy(df['number_of_reviews'].desc()).show(1)

+--------+-----------------+
| host_id|number_of_reviews|
+--------+-----------------+
|47621202|              629|
+--------+-----------------+
only showing top 1 row

### Ejercicio 26:
- Cual es la media del minimo de noches?

In [74]:
df.select('minimum_nights').summary('mean').show()

+-------+------------------+
|summary|    minimum_nights|
+-------+------------------+
|   mean|7.1286126280910596|
+-------+------------------+

In [75]:
df.select(avg('minimum_nights').alias('media_minimum_nights')).show()

+--------------------+
|media_minimum_nights|
+--------------------+
|  7.1286126280910596|
+--------------------+

### Ejercicio 27:
- En promedio, cual es el barrio mas caro?

In [86]:
promedio = df.groupBy('neighbourhood').agg(avg('price').alias('precio_medio'))
promedio.orderBy('precio_medio', ascending=False).limit(1).show()

+--------------+------------+
| neighbourhood|precio_medio|
+--------------+------------+
|Fort Wadsworth|       800.0|
+--------------+------------+